@{
    ViewBag.Title = "EasyUI";
    Layout = "~/Views/Shared/Master.cshtml";
}
<!--Menu-->
<div class="wrapper">
    @RenderPage("../../Components/easyUI/partials/menu.cshtml")
</div>

<!--Tree-->
<div class="wrapper">
    @RenderPage("../../Components/easyUI/partials/treeview.cshtml")
</div>

<!--combogrid-->
<div class="wrapper">
    @RenderPage("../../Components/easyUI/partials/combogrid.cshtml")
</div>

<!--ckEditor-->
<div class="wrapper">
    @RenderPage("../../Components/easyUI/partials/ckeditor.cshtml")
</div>

<!--win layout-->
@RenderPage("../../Components/easyUI/partials/winLayout.cshtml")

  


<link href="../../Components/easyUI/page.css" rel="stylesheet" type="text/css" />
<script src="../../Components/easyUI/page.js" type="text/javascript"></script>
