<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    
    <link href="~/Scripts/libraries/jQurey-Mobile/jquery.mobile.custom.structure.min.css"rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/libraries/jQurey-Mobile/jquery.mobile.custom.min.css" />

    

    <!--theme jq UI-->
    <!--link href="../../Scripts/libraries/jQurey-Mobile/custom1.min.css" rel="stylesheet"type="text/css" /-->
    <link href="~/Scripts/libraries/jQurey-Mobile/jquery.mobile.custom.theme.css"rel="stylesheet" type="text/css" /> 
    
    
    <script src="~/Scripts/libraries/jQuery/jquery-1.8.0.min.js" type="text/javascript"></script>

    <script>
        $(document).bind('mobileinit', function () {

            $.mobile.ajaxEnabled = true; //false makes document.ready and all [off page] scripts in navigation to be loaded again
            $.mobile.defaultPageTransition = "flip";
        });
    </script>

    <script src="~/Scripts/libraries/jQurey-Mobile/jquery.mobile.custom.min.js" type="text/javascript"></script>
    
    <script>
        

        $(document).ready(function () { 
            
            //alert('document loaded');
        });
        $(document).bind('pageinit',function () { //happens in every navigation , no matter ajax is enabled or not
            //alert('page init loaded');
        });
        //to kick page out of the cache and DOM and every time  back to this page , jquery will fetch the page and bring it back in
        //good for static pages
        $(document).on('pagehide',function (e) {

            $(e.target).remove();
        });

        $(document).bind("swipeleft", function (e, u) { alert("SwipeLeft"); })
        $(document).bind("swiperight",
        function (e, u) {
            $.mobile.changePage('@Url.Action("Index","Home")');
        }
        );
        $(window).bind("orientationchange", function (event) {
            alert("Orientation change");
        });
        $(document).bind("pageload pagechange pageshow pagehide pagecreate pageinit", 
        function (event) {
            //alert(event.type);
        });
        //Note : in case of using back in mobile browser
        //we want to use the cached one not a new re messedup  ajax fetch
        //then use "one" instead of "bind"
        /*
        $(document).one('pageinit',function () { //happens in every navigation , no matter ajax is enabled or not
            //Ajax call for loading next page
        });
        */
    </script>
     
</head>
<body>

<div data-role="page">

    <!--Header-->
    <div data-role="header" >
    <h1>Header</h1>
    <a href="~/home" data-iconpos="notext" data-inline="true" data-icon="home" data-role="button" data-theme="a" >home</a>
    <div data-role="navbar">
        <ul>
            <li><a href="~/home/link_1">Link 1</a></li>
            <li><a href="@Url.Action("link_1", "home")" data-rel="dialog">Dialog</a></li>  <!--ajaxEnabled must be enabled-->
            <li><a href="@Url.Action("collapsible", "home", new { id=1})" >Collapsible</a></li>
            <li><a href="@Url.Action("grid", "home", new { id=1})" >Grid</a></li>
            <li><a href="@Url.Action("listview", "home", new { id=1})" >LV</a></li>
            <li><a href="@Url.Action("formel", "home", new { id=1})" >FEL</a></li>
            
        </ul>
    </div>

    </div>

    <!--Content-->
    @RenderBody()    
    

    <!--Footer-->
    <div data-role="footer" data-position="fixed">
    <h4>Bottom fOOTER</h4>
    </div>

</div>

    
    
@RenderSection("bottomScript",false);<!--always register other pages scripts  and iff wanna be loaded every time then ajaxEnabled=false-->
</body>
</html>


