<style>
  
.table1 td , .table1 th
{
    font:10px verdana;
    border-bottom:1px solid #f2f2f2;    
    border-right:1px solid #f2f2f2;    
    padding:5px
}
.table1 td input[type=submit]
{
    margin-top:5px;    
}
.table1 th
{
    background:#f2f2f2;    
}
.errorBox
{
    padding:3px;
    margin-bottom:10px;
    width:100%;
    background:yellow;
    border:1px dashed red;
    
 }

</style>

@{
    Layout = "~/Views/Shared/_simpleLayout.cshtml";
}



    
    


@{
    using (Html.BeginForm("users", "home", FormMethod.Post))
    {
        <table>
        
            @if (ViewBag.status == "False")
            {
                <tr><td><div class="errorBox">@ViewBag.msg</div></td></tr>
            }
            <tr>
            <td>
                <div class="input-append">
                    <input class="span2 input-small" type="text" name="q" />
                    <input class="btn" type="submit" value="Search" />
                </div>
            </td>
            </tr>
            <tr>
            
            <td>
                <div class="btn-group">
                  <a class="btn btn-mini" href="#"><i class="icon-user icon-white"></i> User</a>
                  <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
                    <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
                    <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="i"></i> Make admin</a></li>
                  </ul>
                </div>
            </td>
            
        </tr>
        </table>
            
    };
}


<table cellpadding="0" cellspacing="0" class="table1" >
<tr>
    <th></th>
    <th>Id</th>
    <th>Name</th>
    <th>AVG(Rate)</th>
    <th>reviews</th>
    <th></th>
    <th></th>
</tr>

@foreach (var item in ViewBag.data)
{ 
    
    <tr>
        <td>
            @{
            using (Html.BeginForm("edit", "home", FormMethod.Post))
            {
                <input type="hidden" name="pid" value="@item.id"/>
                <input type="submit" class="btn btn-mini"  value="Edit" />
                
            };
            }
            
        </td>
        <td>@Html.Encode(@item.id)</td>
        <td>@Html.Encode(@item.name)</td>
        <td>@Html.Encode(@item.avgrate)</td>
        <td>
        @foreach (var tr in @item.tr)
        {
            <strong>@Html.Encode(tr.rate)</strong> <b>-</b>
        }
        </td>
        <td>
        @{
        using (Html.BeginForm("deleteUsers", "home", FormMethod.Post))
        {
            <input type="hidden" name="pid" value="@item.id"/>
            <input class="btn btn-mini" type="submit" value="Delete" />
        };
        }
        </td>
        <td>
        @{
        using (Html.BeginForm("editRating", "home", FormMethod.Post))
        {
            <input type="hidden" name="pid" value="@item.id"/>
            <input class="btn btn-mini" type="submit" value="Edit rating" />
        };
        }
        </td>

    </tr>
}
<tr>
    @{
        using (Html.BeginForm("newUser", "home", FormMethod.Get))
        {
            <td colspan="7">
                <input type="submit" class="btn btn-mini" value="New" />
            </td>
        };
    }
    

</tr>

</table>

@{ Html.RenderAction("partialview","home");} <!--gets to action-->